[package]
name = "spot_stats"
version = "0.1.0"
edition = "2021"
authors = ["Arno Werkman"]
description = "Command Line Interface that can process your Spotify Streaming Data"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4.31", features = ["serde"] }
clap = { version = "4.4.6", features = ["derive"] }
comfy-table = "7.0.1"
serde = { version = "1.0.188", features = ["derive"] }
serde_json = { version = "1.0.107", features = ["preserve_order"] }

[lib]
